environs==11.0.0
geojson==3.1.0
geopandas==0.14.3
geopy==2.4.1
gpd==1.1.1
matplotlib==3.8.2
numpy==1.26.4
pandas==2.2.1
pydeck==0.8.1b0
Requests==2.31.0
seaborn==0.13.2
streamlit==1.32.0
streamlit-float
streamlit-antd-components
streamlit-option-menu
plotly-express==0.4.1
plotly==5.19.0
